<div class="w3-content w3-animate-right" id="about">
  <div class="w3-container w3-margin-top-48">
    <div class="w3-panel w3-rightbar w3-light-grey">
      <p class="w3-right-align w3-responsive-24">
        -
        <strong class="w3-text-black">Gradatim Ferociter</strong>
        <i class="w3-serif w3-text-black">„Step by Step, Ferociously"</i>
      </p>
    </div>
    <h1 class="w3-right-align">FÄHIGKEITEN</h1>
    <table class="w3-table w3-bordered w3-margin-top-72">
      <each loop="value, key in skills">
        <tr>
          <td class="w3-large w3-bolder">{{ key }}</td>
          <td class="w3-right-align">
            <each loop="v in value">
              <span class="w3-large w3-tag w3-round w3-dark-grey w3-hover-black w3-text-white" style="margin-top: 2px;">{{ v }}</span>
            </each>
          </td>
        </tr>
      </each>
    </table>
  </div>
</div>
