<script>
  new cookieNoticeJS({
    // Position for the cookie-notifier (default=bottom)
    'cookieNoticePosition': 'bottom',
    // Shows the "learn more button (default=false)
    'learnMoreLinkEnabled': true,
    // The href of the learn more link must be applied if (learnMoreLinkEnabled=true)
    'learnMoreLinkHref': '/datenschutz.html',
    // The message will be shown again in X days
    'expiresIn': 30,
    // Specify a custom font family and size in pixels
    'fontFamily': 'inherit',
    'fontSize': '12px',
    // Dismiss button background color
    'buttonBgColor': '#000',
    // Dismiss button text color
    'buttonTextColor': '#fff',
    // Notice background color
    'noticeBgColor': '#616161',
    'noticeTextColor': '#fff',
    // the learnMoreLink color (default='#009fdd')
    'linkColor': '#fff',
    // Print debug output to the console (default=false)
    'debug': false
  });
</script>
